In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('SBU_example_Surveydata_2014.csv',encoding='latin1', na_values=['Refused',"Don't know/Not sure"])

In [3]:
data.drop(labels=['STATERES', 'LADULT', 'NUMADULT', 'CTYCODE1'],axis=1,inplace=True)

In [4]:
data =  data[(data.DIABETE3 == "Yes") | (data.DIABETE3 == "No")]

In [5]:
data.shape

(6690, 116)

In [6]:
dfFinal = data.select_dtypes(include=np.number)

In [7]:
dfFinal.shape

(6690, 12)

In [8]:
dfFinal['age'] = data.AGE.values

In [9]:
dfFinal.head()

,GEOSTR,REPNUM,REPDEPTH,IDATE,IDAY,IYEAR,DISPCODE,SEQNO,PSU,NATTMPTS,NRECSEL,NRECSTR,age
0,201,40136,28,4252014,25,2014,1200,2014000012,2014000012,2,16600,14358760.86,Age 65 or older
1,202,10105,17,3162014,16,2014,1200,2014000013,2014000013,8,14544,13058665.94,Age 65 or older
2,201,110014,4,11292014,29,2014,1200,2014000014,2014000014,8,16600,14358760.86,Age 35 - 44
3,201,110083,6,11252014,25,2014,1200,2014000015,2014000015,9,16600,14358760.86,Age 65 or older
4,202,50129,7,10052014,5,2014,1200,2014000016,2014000016,8,14544,13058665.94,Age 35 - 44

In [10]:
dfFinal.age.value_counts()

Age 65 or older        2023
Age 55 - 64            1379
Age 45 - 54            1177
Age 35 - 44             837
Age 25 - 34             760
Age 18 - 24             400
Dont know/Not sure       2
Name: age, dtype: int64

In [11]:
dfFinal[dfFinal.age == 'Don\x92t know/Not sure']

,GEOSTR,REPNUM,REPDEPTH,IDATE,IDAY,IYEAR,DISPCODE,SEQNO,PSU,NATTMPTS,NRECSEL,NRECSTR,age
396,101,20054,20,2092014,9,2014,1200,2014000408,2014000408,5,21545,2835024.0,Dont know/Not sure
2625,101,10103,24,2102014,10,2014,1200,2014002637,2014002637,8,21545,2835024.0,Dont know/Not sure

In [12]:
dfFinal.age.value_counts()

Age 65 or older        2023
Age 55 - 64            1379
Age 45 - 54            1177
Age 35 - 44             837
Age 25 - 34             760
Age 18 - 24             400
Dont know/Not sure       2
Name: age, dtype: int64

In [13]:
dfFinal.drop([2625,396], axis=0, inplace=True)
data.drop([2625,396], axis=0, inplace=True)

In [14]:
dfFinal[dfFinal.age == 'Don\x92t know/Not sure']

Empty DataFrame
Columns: [GEOSTR, REPNUM, REPDEPTH, IDATE, IDAY, IYEAR, DISPCODE, SEQNO, PSU, NATTMPTS, NRECSEL, NRECSTR, age]
Index: []

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
lc = LabelEncoder()

In [17]:
dfFinal['age'] = lc.fit_transform(dfFinal.age)

In [18]:
dfFinal.age.value_counts()

5    2023
4    1379
3    1177
2     837
1     760
0     400
6     112
Name: age, dtype: int64

In [19]:
X = dfFinal.copy()

In [20]:
data.head()

,STATE,GEOSTR,DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,IDAY,...,HCVPRIME,HCVPRIMA,HLTHPREG,PREGEVER,BRTHCNTL3,TYPCNTRL2,NOBCUSE2,PFCHLDFT,PRNTLVIT,REGION
0,New York,201,D,To be called,40136,28,April,4252014,4,25,...,Not asked or Missing,Not asked or Missing,Not asked or Missing,Not asked or Missing,NaN,NaN,NaN,Not asked or Missing,NaN,NYS exclusive of NYC
1,New York,202,D,To be called,10105,17,January,3162014,3,16,...,Not asked or Missing,Not asked or Missing,Not asked or Missing,Not asked or Missing,NaN,NaN,NaN,Not asked or Missing,NaN,New York City (NYC)
2,New York,201,D,To be called,110014,4,November,11292014,November,29,...,Not asked or Missing,Not asked or Missing,Not asked or Missing,Not asked or Missing,NaN,NaN,NaN,Not asked or Missing,NaN,NYS exclusive of NYC
3,New York,201,D,To be called,110083,6,November,11252014,November,25,...,Not asked or Missing,Not asked or Missing,Not asked or Missing,Not asked or Missing,NaN,NaN,NaN,Not asked or Missing,NaN,NYS exclusive of NYC
4,New York,202,D,To be called,50129,7,May,10052014,October,5,...,Not asked or Missing,Not asked or Missing,Not asked or Missing,Not asked or Missing,NaN,NaN,NaN,Not asked or Missing,NaN,New York City (NYC)

In [21]:
data.DIABETE3.value_counts()

No     5846
Yes     842
Name: DIABETE3, dtype: int64

In [22]:
data.DIABETE3.replace(inplace=True,to_replace=['No pre-diabetes or borderline diabetes','Yes but female told only during pregnancy','Don\x92t know/Not sure'],value=['No','Yes', np.nan])

In [23]:
data.DIABETE3.value_counts()

No     5846
Yes     842
Name: DIABETE3, dtype: int64

In [24]:
data['DIABETE3'] = lc.fit_transform(data['DIABETE3'])

In [25]:
y = data['DIABETE3']

In [26]:
y.value_counts()

0    5846
1     842
Name: DIABETE3, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
classifier = RandomForestClassifier()

In [31]:
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [32]:
yPredict = classifier.predict(X_test)

In [33]:
from sklearn.metrics import *

In [34]:
accuracy_score(y_test,yPredict)

0.8702153110047847

In [35]:
n_estimators = [5,20,50,100] # number of trees in the random forest
max_features = ['auto', 'sqrt'] # number of features in consideration at every split
max_depth = [int(x) for x in np.linspace(10, 120, num = 12)] # maximum number of levels allowed in each decision tree
min_samples_split = [2, 6, 10] # minimum sample number to split a node
min_samples_leaf = [1, 3, 4] # minimum sample number that can be stored in a leaf node
bootstrap = [True, False] # method used to sample data points

random_grid = {'n_estimators': n_estimators,

'max_features': max_features,

'max_depth': max_depth,

'min_samples_split': min_samples_split,

'min_samples_leaf': min_samples_leaf,

'bootstrap': bootstrap}

In [37]:
rf = RandomForestClassifier()

In [38]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
               n_iter = 100, cv = 5, verbose=2, random_state=35, n_jobs = -1)

In [39]:
rf_random.fit(X_train, y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      120],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 3, 4],
                                        'min_samples_split': [2, 6, 10],
                                        'n_estimators': [5, 20, 50, 100]},
                   random_state=35, verbose=2)

In [40]:
print ('Random grid: ', random_grid, '\n')
# print the best parameters
print ('Best Parameters: ', rf_random.best_params_, ' \n')

Random grid:  {'n_estimators': [5, 20, 50, 100], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120], 'min_samples_split': [2, 6, 10], 'min_samples_leaf': [1, 3, 4], 'bootstrap': [True, False]}

Best Parameters:  {'n_estimators': 20, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'max_depth': 10, 'bootstrap': True}

In [41]:
randmf = RandomForestClassifier(n_estimators = 20, min_samples_split = 10, min_samples_leaf= 4, max_features = 'sqrt', max_depth= 10, bootstrap=True) 
randmf.fit( X_train, y_train)

RandomForestClassifier(max_depth=10, max_features='sqrt', min_samples_leaf=4,
                       min_samples_split=10, n_estimators=20)

In [42]:
yph = randmf.predict(X_test)

In [43]:
accuracy_score(y_test,yph)

0.8833732057416268